@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 1000;
    box-sizing: border-box;
}

.logo-container .logo-link {
    display: flex;
    align-items: center;
}

.logo-link {
    text-decoration: none;
}

.logo {
    height: 50px;
    margin-right: 15px;
}

.logo-text {
    font-size: 2em;
    font-weight: bold;
}

.logo-ai {
    font-family: 'Orbit', sans-serif;
}

.main-nav a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}
